body {
  color: #000000;
  display: flex;
  font-size: 20px;
  font-style:normal;
  background: url('1q.png');
  align-items: left;
}

.container {
  background-color: #fdfdfd;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 10px;
}

.container h2 {
  margin-top: 10;
  text-align: left;
  text-shadow: 1px 1px 2px rgb(230, 39, 39), 0 0 1em rgb(231, 152, 152); /* Параметры тени */
  color: rgb(78, 3, 3); /* Белый цвет текста */
  font-size: 30px; /* Размер надписи */
  margin: 10 auto;
}

.container h3 {
  text-shadow: 1px 1px 2px rgb(230, 39, 39), 0 0 1em rgb(231, 152, 152); /* Параметры тени */
  color: rgb(0, 0, 0); /* Белый цвет текста */
  font-size: 22px;
  text-align: left;
}

.form-quiz {
  display: flex;
  align-items: left;
  flex-direction: column;
}

.quiz {
  display: block;
  margin-bottom: 10px;
}


.btn {
  color: #f8eddc;
  background: rgb(139, 85, 85); 
  padding: .7em 1.5em; 
  font-size: 15px;
  margin-top: 30px;

}
.form_radio_btn {
	display: inline-block;
  margin-right: 10px;
  font-style: italic;
  color: rgb(230, 106, 106); 
  font-weight:bolder;
  font-size: 22px;
}

.btn:hover { background: rgb(255, 186, 158); } 
.btn:active { background: rgb(209, 75, 75); } 


.list {
  color: #5f4356;
  text-decoration: none; 
  user-select: none; 
  background: rgb(231, 232, 252); 
  padding: .7em 1.5em; 
  font-size: 17px;
} 


.restext {
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-size: 22px; 
  font-style: italic;

}
 
.form_radio_btn input[type=radio]:checked + label {
  background: #f5cbbb;
} /* при выборе */
 
.form_radio_btn label:hover {
  color: rgb(186, 153, 190);
  background: #faf3fd;
} /* при наведении курсора мышки */
 

.radio-buttons {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr ;
  column-gap: 20px;
  row-gap: 20px;
}

